################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/microservices/v17
/src/Services/Catalog/Catalog.API/bin/Debug/net5.0
/src/Services/Catalog/Catalog.API/obj
/src/Services/Catalog/Catalog.API/bin/Debug/net6.0
/src/.vs/microservices/FileContentIndex/read.lock
/src/.vs/microservices/FileContentIndex/a086b139-a243-464c-a5e5-ff3db4a9fd0f.vsidx
/src/.vs
/src/obj/Docker
/src/bin/Debug
/src/obj/Debug
/src/.vs
/src-mango/.vs/mango/v17
/src-mango/.vs/mango
/src-mango/Mango.Services.CouponAPI/bin/Debug/net8.0
/src-mango/Mango.Services.CouponAPI/obj
/src-mango/.vs/ProjectEvaluation
/src-mango/Mango.Web/obj
/src-mango/Mango.Web/bin/Debug/net8.0
/Mango_Microservices-master/Mango_Microservices-master
/course_19
/src-mango/Mango.Web/bin/Debug/net6.0
/src-mango/Mango.Services.AuthAPI/bin/Debug/net7.0
/src-mango/Mango.Services.AuthAPI/obj
/src-mango/Mango.Services.CouponAPI/bin/Debug/net7.0
/src-mango/Mango.Services.ProductAPI/bin/Debug/net7.0
/src-mango/Mango.Services.ProductAPI/obj
/src-mango/Mango.Services.ShoppingCartAPI/bin/Debug/net7.0
/src-mango/Mango.Services.ShoppingCartAPI/obj
/src-mango/Mango.MessageBus/bin/Debug/net7.0
/src-mango/Mango.MessageBus/obj
/src-mango/Mango.Services.EmailAPI/bin/Debug/net7.0
/src-mango/Mango.Services.EmailAPI/obj
